[submodule "WhitelistTransferHook"]
	path = WhitelistTransferHook
	url = https://github.com/namay10/WhitelistTransferHook
[submodule "Escrow_LiteSvm"]
	path = Escrow_LiteSvm
	url = https://github.com/namay10/Escrow_LiteSvm
[submodule "Whitelisted_vault_Transfer_hook"]
	path = Whitelisted_vault_Transfer_hook
	url = https://github.com/namay10/Whitelisted_vault_Transfer_hook
[submodule "MagicBlock_Vrf_Er_example"]
	path = MagicBlock_Vrf_Er_example
	url = https://github.com/namay10/MagicBlock_Vrf_Er_example
[submodule "tuktuk_vrf_er"]
	path = tuktuk_vrf_er
	url = https://github.com/namay10/tuktuk_vrf_er
